agent
center-ops/.idea
center-ops/out
center-ops/target
center-ops/*.md
center-ops/*.sh
center-ops/*.MD


gateway-service/.idea
gateway-service/out
gateway-service/target
gateway-service/*.md
gateway-service/*.sh
gateway-service/*.MD

jar-file-server/.idea
jar-file-server/out
jar-file-server/target
jar-file-server/*.md
jar-file-server/*.sh
jar-file-server/*.MD
jar-file-server/uploads

order-service/.idea
order-service/out
order-service/target
order-service/*.md
order-service/*.MD


portal/node_modules/
portal/test/
portal/package-lock.json
portal/.idea/

multi-ai-chat.html

*.sh
*.js
*.ps1

.github
*.notice